<%- include ('./partials/header') %>
<div class="container col-lg-8">
    <% for(let i of result){ %>
        <h1><%= i.title %></h1>
       <!-- <h1> <%= i %></h1> -->
       <img src="<%= i.image %>">
       <h1><%= i.body.substring(0,20) %>....</h1>
       <a href="/blogs/<%= i._id %>" class="btn btn-outline-primary">read more</a>
    <!-- <h1><%= i.comments %></h1> -->
        <% } %>
</div>

<!-- <h1><% result %></h1>
<div class="container"></div>
<h1><%= result %></h1>
<img src="<%= result[0].image %>">
<h1><%= result[0].body %></h1>
<h1><%= result[0].comments %></h1> -->

<%- include ('./partials/footer') %>
